
html(lang='en') 
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title INICIO
    link(rel='stylesheet', href='/css/styleIndex.css', type='text/css')
    // HEADER
  section
    .header
      .navigation.w-nav(data-collapse='medium' data-animatio='default' data-duration='400')
        .navigation-wrap
          .menu
            nav.navigation-items.w-nav-menu(role='navigation')
              a.navigation-item.w-nav-link(href='/ingresar')
                strong ingresar
              a.navigation-item.w-nav-link(href='/buscar')
                strong buscar
              a.navigation-item.w-nav-link(href='/eliminar')
                strong eliminar
              a.navigation-item.w-nav-link(href='/actualizar')
                strong actualizar
    .foto
      .titulo
        h1 car race
        h2 registro
  // info
  section.info
    .anuncio
      .txt
        h3 PROXIMA CARRERA
        p 15 / 12 / 2029 
    .imagen
  // footer
  section.footer
    p Photo by chuttersnap on Unsplash
